# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\1. FPT Polytechnic\1. Subjects\JAV103_Phát triển web cơ bản cùng AI (Java)\Tutor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
